<div class="page-content">
  <h1>Strength</h1>

  <dl>
    <dt>強みの出し方</dt>
    <dd>強みの出し方を考える</dd>
    <dd>
      <ul>
      <li>自分の強みを考える</li>
      <li>自分の弱みを考える</li>
      <li>自分の強みを出すためにはどうすればいいかを考える</li>
      <li>自分の弱みを出すためにはどうすればいいかを考える</li>
      </ul>
    </dd>
  </dl>
  <ul>
  <li>Ruby on Rails</li>
  <li>JavaScript</li>
  <li>HTML/CSS</li>
  <li>SQL</li>
  <li>Git</li>
  <li>Docker</li>
  <li>AWS</li>
  <li>CI/CD</li>
  </ul>
</div>
